@import (reference) '../../style/themes/default.less';

.tt-watermark {
  position: relative;
  width: 100%;
  overflow: hidden;

  .tt-watermark-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-repeat: repeat;
  }
}
