
@import '../color.less';

@font-size-base: 14px;
@line-height-base: 22px;

@font-size-h1: 32px;
@line-height-h1: 48px;
@font-size-h2: 24px;
@line-height-h2: 36px;
@font-size-h3: 18px;
@line-height-h3: 28px;
@font-size-h4: 16px;
@line-height-h4: 24px;
@font-size-sm: 12px;
@line-height-sm: 18px;

@font-weight-regular: 400;
@font-weight-medium: 500;
@font-weight-bold: 700;

@tt-title-main: @grey-8;
@tt-link: @geek-blue-6;
@tt-text-main: @grey-7;
@tt-text-secondary: @grey-6;
@tt-text-placeholder: @grey-5;
@tt-status-error: @red-6;
@tt-status-warning: @gold-6;
@tt-status-success: @mint-green-5;

