.import-export-tips {
    .state-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        &.state-icon--pending {
            background-image: url(../img/pending.png);
        }
        &.state-icon--success {
            background-image: url(../img/success.png);
        }
        &.state-icon--error {
            background-image: url(../img/error.png);
        }
        &.state-icon--cancel {
            background-image: url(../img/removed.png);
        }
    }
}
