@import (reference) '../../style/themes/default.less';

.tt-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tt-icon > svg + span > svg {
  fill: var(--icon-fill, currentColor);
}

.tt-icon-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.tt-icon.tt-icon-small {
  font-size: 16px;
}

.tt-icon.tt-icon-default {
  font-size: 20px;
}

.tt-icon.tt-icon-large {
  font-size: 24px;
}

.tt-icon-spin {
  animation: tt-icon-spin 1s linear infinite;
}

@keyframes tt-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
