@import (reference) '../../style/themes/default.less';

.tt-statistic.ant-statistic {
  .ant-statistic-title {
    margin-bottom: 4px;
    color: var(--tt-text-secondary);
    font-size: @font-size-sm;
    line-height: @line-height-sm;
  }

  .ant-statistic-content {
    color: var(--tt-text-title);
    font-size: @font-size-h3;
    line-height: @line-height-h3;
    font-weight: @font-weight-medium;
  }

  .ant-statistic-content-prefix,
  .ant-statistic-content-suffix {
    color: inherit;
  }
}
