.ant-form.layout-form {
    margin: 12px;

    .row-content {
        margin: 0 auto;

        .ant-collapse-content-box {
            display: flex;
            flex-flow: row wrap;
        }
    }

    .button-row {
        padding: 12px 20px;
    }

    .ant-form-item-label {
        width: 130px;
    }

    .button-div {
        button {
            margin-right: 12px;
        }
    }
}
