.ant-modal-root {
    .modal-layout {
        .ant-modal-content {
            .ant-modal-close {
                display: block;
            }
            .ant-modal-body {
                padding: 0;
                .ant-modal-header {
                    display: block;
                }
                .ant-modal-body {
                    padding: 15px;
                }
                .ant-modal-confirm-btns {
                    display: none;
                }
            }
        }
    }
}
.ant-modal-root {
    .modal-layout.has-button {
        .ant-modal-content {
            .ant-modal-close {
                display: block;
            }
            .ant-modal-body {
                .ant-modal-confirm-body {
                    border-bottom: 1px solid #eee;
                }
                .ant-modal-confirm-btns {
                    display: block;
                    margin: 18px;
                }
            }
        }
    }
}
.ant-tabs.layout-tabs > .ant-tabs-content-holder > .ant-tabs-content {
    overflow: auto;
}
.page-layout-index {
    height: 100%;
}