
@import (reference) '../../style/themes/default.less';

.tt-font {
  margin: 0;
  padding: 0;
  color: @tt-text-main;
}

.tt-font-h1 {
  font-size: @font-size-h1;
  line-height: @line-height-h1;
  font-weight: @font-weight-medium;
  color: @tt-title-main;
}

.tt-font-h2 {
  font-size: @font-size-h2;
  line-height: @line-height-h2;
  font-weight: @font-weight-medium;
  color: @tt-title-main;
}

.tt-font-h3 {
  font-size: @font-size-h3;
  line-height: @line-height-h3;
  font-weight: @font-weight-medium;
  color: @tt-title-main;
}

.tt-font-h4 {
  font-size: @font-size-h4;
  line-height: @line-height-h4;
  font-weight: @font-weight-medium;
  color: @tt-title-main;
}

.tt-font-body {
  font-size: @font-size-base;
  line-height: @line-height-base;
  font-weight: @font-weight-regular;
}

.tt-font-small {
  font-size: @font-size-sm;
  line-height: @line-height-sm;
  font-weight: @font-weight-regular;
  color: @tt-text-secondary;
}

