.component-selector-filter-cascade {
    .ant-select-selector {
        max-height: 200px;
        overflow-y: auto;
    }
}
.component-selector-filter-cascade-dropdown {
    .ant-cascader-menu {
        max-width: 220px;
        .ant-cascader-menu-item {
            overflow: unset;
            white-space: unset;
            text-overflow: unset;
            align-items: flex-start;
        }
    }
}
