.selector-v2-empty {
    display: flex;
    justify-content: center;
    .empty-img {
        position: relative;
        background-image: url(./imgs/empty.png);
        width: 160px;
        height: 160px;
        .empty-text {
            position: absolute;
            left: 50%;
            bottom: 9px;
            transform: translateX(-50%);
        }
    }
}
