.selector-export-excel {
    width: 800px;

    .ant-checkbox-group {
        margin-bottom: 30px;
    }
    .totalCount {
        position: absolute;
        bottom: 14px;
        .ant-checkbox-wrapper {
            margin-bottom: 20px;
        }
        .ant-statistic {
            display: inline;

            .ant-statistic-content {
                display: inline;
                font-size: 14px;
            }
        }
    }
    label.ant-checkbox-wrapper{
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        .ant-checkbox {
            display: inline-block;
        }
    }
}

.iframe-export {
    width: 0;
    height: 0;
    border: none;
}

.form-export {
    display: none;
}
