.park-tree-select-switch {
    .ant-select {
        // .node-department {
        //     // 不显示部门节点
        //     display: none;
        // }
        .tree-switch {
            // 不显示switch按钮
            display: none;
        }
        // .ant-select-selection-item {
        //     margin: 0;
        //     padding: 0;
        //     border: none;
        //     .ant-select-selection-item-content {
        //         margin: 0;
        //     }
        //     .node-park {
        //         padding: 0 4px;
        //     }
        // }
    }
}
.park-switch-alert {
    padding: 4px 8px;
    margin-bottom: 4px;
    .ant-alert-icon {
        color: var(--ant-warning-color);
    }
    .ant-alert-message {
        color: var(--ant-primary-color);
        font-size: 14px;
    }
}
